:root {
    font-family: 'Raleway', sans-serif;
    --blue: #0065FC;
    --grey: #F2F2F2;
    --lightblue: #DEEBFF;
}

/* tester var avec W3C */
body p {
    margin: 0;
    font-size: 110%;
}

#container {
    /* padding: 0 3.4%; */
    width: 93%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-right: 2%;
}

nav a {
    padding: 5%;
}

#nav_selected {
    border-top: solid;
}

form {
    display: flex;
}

#form_button {
    background-color: var(--grey);
    padding: 0;
    border: none;
    height: 36px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#form_input {
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    border: solid;
    border-width: 1px;
    border-color: var(--grey);
    font-weight: bold;
}

#submit_button {
    height: 36px;
    background-color: var(--blue);
    color: white;
    border: none;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#filters {
    margin-top: 1.2%;
    display: flex;
}

.titre {
    font-weight: bold;
}

.filter_switch {
    margin-left: 25px;
    padding-left: 0;
    font-weight: bold;
    background-color: white;
    border-radius: 5em;
    border: solid;
    border-width: 2px;
    border-color: #d9d9d9;
}

#container1 {
    display: flex;
    justify-content: space-between;
}

#container2 {
    width: 61%;
    background-color: var(--grey);
    border-radius: 15px;
    padding: 2% 2.5%;
}

#cards_container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card1 {
    background-color: white;
    border-radius: 20px;
    padding: 0.5% 0.5% 1.5% 0.5%;
    width: 28%;
    margin: 1.7% 0;
}

.card1_img {
    width: 100%;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

#container3 {
    width: 29%;
    background-color: var(--grey);
    border-radius: 15px;
    padding: 1% 0%;
}

#container3_title {
    display: flex;
    justify-content: space-between;
    margin: 0 8%
}

#container3_title i {
    margin: auto 0;
}

#cards_container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2 {
    background-color: white;
    margin: 4% 8%;
    padding: 0.5% 0.5% 1% 0.5%;
    border-radius: 1.5em;
    display: flex;
}

.card2_img {
    height: 135px;
    width: 37%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    object-fit: cover;
}

.card2_text {
    padding: 1%;
}

.blue {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}

.lightblue {
    color: var(--lightblue);
}

#test {
    height: 75%;
    overflow: hidden;
}

#test img{
    margin: 0px -500px -10px 0px;
}

.price {
    font-weight: bold;
}

.card1_text {
    margin-left: 5%;
}

.card1_text p{
    margin-top: 2%;
    margin-bottom: 2%;
}

.fa-stack {
    font-size: 1.5em;
}

#container5 {
    display: flex;
    justify-content: space-between;
}

.card_full {
    width: 22.5%;
}

.card_full img {
    width: 100%;
}

.cards_container4 {
    width: 22.5%;
    display: flex;
    flex-wrap: wrap;
}

.cards_container4 img{
    width: 100%;
}

footer {
    background-color: var(--grey);
    padding: 1% 2%;
}

#footer_container {
    display: flex;
    width: 97%;
    margin: 0 auto;
}

#footer_container div {
    width: 33%;
}